<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aman.olxclone">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DummyData.Data"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Myaccount.Menu_MyAccount"
            android:parentActivityName=".MainActivity"

            android:label="My Account" />
        <activity
            android:name=".MyWallet.Menu_MyWallet"
            android:parentActivityName=".MainActivity"
            android:label="My Wallet" />
        <activity
            android:name=".Myads.Menu_MyAds"
            android:parentActivityName=".MainActivity"
            android:label="My Ads" />
        <activity
            android:name=".MyWishlist.Menu_Wishlist"
            android:parentActivityName=".MainActivity"
            android:label="My Wishlist" />
        <activity
            android:name=".Home_sell.Home_Sell"
            android:parentActivityName=".MainActivity"
            android:label="Put Ad"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProductDesc"
            android:label="Product" />
        <activity
            android:name=".Myads.MyAdDesc"
            android:parentActivityName=".Myads.Menu_MyAds"
            android:label="My Ad" />
        <activity
            android:name=".Myads.Menu_MyadsEdit"
            android:parentActivityName=".Myads.Menu_MyAds"
            android:label="Edit" />
        <activity
            android:name=".Myaccount.MyaccountEdit"
            android:parentActivityName=".Myaccount.Menu_MyAccount"
            android:label="Edit Account Details" />
        <activity android:name=".Myaccount.Editname"
            android:parentActivityName=".Myaccount.MyaccountEdit"
            android:label="Edit Name" />
        <activity android:name=".Myaccount.Editpassword"
            android:parentActivityName=".Myaccount.MyaccountEdit"
            android:label="Edit Password"/>
        <activity android:name=".Myaccount.EditProfilepic"
            android:parentActivityName=".Myaccount.MyaccountEdit"
            android:label="Edit Profile Picture"></activity>
    </application>

</manifest>