<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aman.olxclone">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Data"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_MyAccount"
            android:label="My Account" />
        <activity
            android:name=".Menu_MyWallet"
            android:label="My Wallet" />
        <activity
            android:name=".Menu_MyAds"
            android:label="My Ads" />
        <activity
            android:name=".Menu_Wishlist"
            android:label="My Wishlist" />
        <activity
            android:name=".Home_Sell"
            android:label="Put Ad"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProductDesc"
            android:label="Product" />
        <activity
            android:name=".MyAdDesc"
            android:label="My Ad" />
        <activity android:name=".Menu_MyadsEdit"
            android:label="Edit"/>
    </application>

</manifest>